// COLORS
$primary-color: #ad02b0;
$secondary-color: #9451c4;

$white-color: #fac2c2;

$dark-grey: #c965b2;
$light-grey: #d2d2d2;

$dark-blue-text: #2f2091; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
